* text=auto
data/* binary
src/* text=lf
seurust/configure text eol=lf
seurust/cleanup text eol=lf
seurust/DESCRIPTION text eol=lf
seurust/src/entrypoint.c text eol=lf
seurust/src/Makevars.in text eol=lf
seurust/src/Makevars.win.in text eol=lf
R/* text=lf
docker/scripts/*.sh text eol=lf
docker/Dockerfile* text eol=lf
docker/docker-compose.yml text eol=lf
